NODE_ENV=development
BASE_URL=http://localhost:8000/wp-json/wp/v2/
WP_APPLICATION_SECRET=2owjMJrI%hAp(Htw*0^VBgWZL)2WZKo$
WP_API_KEY=18pOBgpfYGCacb4YcVpMyoPUs
WP_ACCESS_TOKEN=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJodHRwOlwvXC9sb2NhbGhvc3Q6ODAwMCIsImlhdCI6MTYxNjc4NzM1OCwibmJmIjoxNjE2Nzg3MzU4LCJleHAiOjE2MTczOTIxNTgsImRhdGEiOnsidXNlciI6eyJpZCI6MSwidHlwZSI6IndwX3VzZXIiLCJ1c2VyX2xvZ2luIjoiYWRtaW4iLCJ1c2VyX2VtYWlsIjoib3RAYnNtaXRoc3R1ZGlvLmNvbSIsImFwaV9rZXkiOiIxOHBPQmdwZllHQ2FjYjRZY1ZwTXlvUFVzIn19fQ.FX2Ss2Hla5fnhkbt17CzDZkpONUs9Tjh47yRlhaNhAo
WP_REFRESH_TOKEN=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJodHRwOlwvXC9sb2NhbGhvc3Q6ODAwMCIsImlhdCI6MTYxNjc4NzM1OCwibmJmIjoxNjE2Nzg3MzU4LCJleHAiOjE2NDgzMjMzNTgsImRhdGEiOnsidXNlciI6eyJpZCI6MSwidHlwZSI6IndwX3VzZXIiLCJ1c2VyX2xvZ2luIjoiYWRtaW4iLCJ1c2VyX2VtYWlsIjoib3RAYnNtaXRoc3R1ZGlvLmNvbSIsInRva2VuX3R5cGUiOiJyZWZyZXNoIiwiYXBpX2tleSI6IjE4cE9CZ3BmWUdDYWNiNFljVnBNeW9QVXMifX19.udjMDz0X7O_hG3tr-hDHcnU5XTq65A7gvWy2Sph6wzo